*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 2;
}

header{
  display: flex;
  height: 6.7%;
  width: 100vw;
}

.header-image{
  height: auto;
  width: 28.33vw;
  background-image: url('../images/filmclub.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5005B;
}

.header-nav{
  display: flex;
  flex-direction: column;
  width: 72%;
  text-align: center;
  color: white;
}

.header-home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00A5BF;
  height: 33.3%;
}

.header-calendar{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00B7D3;
  height: 33.3%;
}

.header-join{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00D5E7;
  height: 33.3%;
}

.header-bottom{
  background: #81DFE7;
}

main{
  display: flex;
  flex-direction: column;
}

.get-involved{
  display: flex;
  flex-direction: column;
  height: 29.2%;
  /*margin: 5%;*/
  padding: 2%;
}

.involved-heading{
  display: block;
  color: #0B1942;
}

.involved-title{
  background: #0B1942;
  color: white;
  padding: 2% 0 2% 5%;
}

.involved-box{
  display: flex;
  flex-direction: column;
}

.involved-entry{
  margin: 1%;
}

.up-next{
  display: flex;
  flex-direction: column;
  background: #0B1942;
  height: 53.3%;
}

.next-heading{
  color: white;
  padding: 3% 0 0 6%;
}

.rashomon{
  background: #E2E2E2;
  display: flex;
  margin: 2% 2% 2% 2%;
  height: 28.45%;
  padding: 2%;
}

.rash-image{
  background-image: url('../images/rashomon-poster.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: 60%;*/
  flex: 1 0 50%;
  /*height: auto;*/
  /*width: 50vw;*/
}

.rash-entry{
  flex: 1 1 40%;
  margin-left: 10%;
}

.rash-points{
  list-style: circle;
}

.next-films{
  background: #E2E2E2;
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
  height: 70vh;
}

.movie-poster{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption{
  align-self: flex-start;
}


.train{
  background-image: url('../images/great-train-poster.jpg');
  background-position: center;
  background-size: contain;
  height: 60%;
  width: 85%;
}

.bicycle{
  background-image: url('../images/bicycle-thief-poster.jpg');
  background-position: center;
  background-size: cover;
  height: 60%;
  width: 85%;
}

.nosferatu{
  background-image: url('../images/nosferatu-poster.jpg');
  background-position: center;
  background-size: cover;
  height: 60%;
  width: 85%;
}
.metro{
  background-image: url('../images/metropolis-poster.jpg');
  background-position: center;
  background-size: cover;
  height: 60%;
  width: 85%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10.85%;
  width: 100vw;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  height: 25.5vh;
  width: 100vw;
  text-align: center;
  color: white;
}

.footer-home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00A5BF;
  height: 20.43%;
}

.footer-calendar{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00B7D3;
  height: 20.43%;
}

.footer-join{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00D5E7;
  height: 20.43%;
}

.footer-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #81DFE7;
  height: 38.7%;
}


@media (min-width: 545px){

  header{
    height: 12.72vh;
  }

  .header-nav{
    flex-direction: row;
    height: 100%;
  }

  .header-nav div{
    flex-grow: 1;
  }

  .header-home{
    width: 15%;
    height: 100%;
  }

  .header-calendar{
    width: 15%;
    height: 100%;
  }

  .header-join{
    width: 15%;
    height: 100%;
  }

  .header-bottom{
    width: 40%;
    height: 100%;
  }

  .involved-box{
    flex-direction: row;

  }

  .next-films{
    flex-direction: row;
  }

  .movie-poster{
    flex: 1 1 25%;
  }

  footer{
    height: 12.72vh;
  }

  .footer-nav{
    flex-direction: row;
    height: 100%;
  }

  .footer-home{
    width: 15%;
    height: 100%;
  }

  .footer-calendar{
    width: 15%;
    height: 100%;
  }

  .footer-join{
    width: 15%;
    height: 100%;
  }

  .footer-bottom{
    width: 55%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 2%;
  }


@media (min-width: 769px){

header{
  height: 7.7vh;
}


.header-home{
  width: 10%;
  height: 100%;
}

.header-calendar{
  width: 10%;
  height: 100%;
}

.header-join{
  width: 10%;
  height: 100%;
}

.header-bottom{
  width: 60%;
  height: 100%;
}

.up-next{
  flex-direction: row;
}

.next-heading{

}

.rashomon, .next-films{
  flex: 1 1 50%;
}

.movie-poster{
  flex: 1 1 50%;
}


}
}
